@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-dark-background: hsl(217, 54%, 11%);
  --color-card-background: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);

  --ff-main: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

picture,
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-size: 18px;
  font-family: var(--ff-main);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  min-height: 100vh;
  color: var(--color-white);
  background-color: var(--color-dark-background);
}

main {
  position: relative;
}

.card {
  display: grid;
  gap: 1em;
  background-color: var(--color-card-background);
  box-shadow: 0 0.5em 1.5em hsl(217, 54%, 8%);
  padding: 1.25em;
  border-radius: 1em;
  max-width: 20rem;
}

.card__container {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
}

.card__container picture::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-cyan);
  opacity: 0;
}

.card__container:hover picture::after {
  opacity: 0.35;
  transition: opacity 0.5s ease;
}

.card__container__img__view {
  opacity: 0;
  position: absolute;
}

.card__container:hover .card__container__img__view {
  opacity: 1;
  transition: opacity 0.5s ease;
  animation: show 0.25s cubic-bezier(0.21, 0.38, 0.66, 0.16);
}

@keyframes show {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.card__title {
  text-decoration: none;
  color: var(--color-blue-dark);
  max-width: fit-content;
}

.card__title:hover,
.card__title:focus-visible {
  color: var(--color-cyan);
  transition: color 0.5s ease;
}

.card__title h1 {
  font-size: 1.35rem;
  font-weight: 600;
}

.card__description {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-soft-blue);
}

.card__crypto {
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
}

.card__eth {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 400;
  color: var(--color-cyan);
}

.card__day {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 300;
  color: var(--color-soft-blue);
}

.card__crypto + hr {
  border: none;
  border-top: 1px solid var(--color-line);
}

.card__creator {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 1em;
}

.card__creator__avatar {
  max-width: 2rem;
  outline: 1px solid var(--color-white);
  border-radius: 50%;
}

.card__creator__info {
  font-weight: 300;
  color: var(--color-soft-blue);
}

.card__creator__name {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
}

.card__creator__name:hover,
.card__creator__name:focus-visible {
  color: var(--color-cyan);
  transition: color 0.5s ease;
}

footer {
  position: absolute;
  bottom: 1rem;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:visited {
  color: hsl(270, 100%, 60%);
}

@media (min-width: 43.75em) {
  .card {
    gap: 1.25em;
    padding: 1.5em;
    max-width: 22rem;
  }

  .card__crypto,
  .card__creator {
    font-size: 1rem;
  }
}